<footer id="footer">
  <div class="outer">
    <div id="footer-info">
    	<div class="footer-center">
    		&copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
    	</div>
    </div>
  </div>
</footer>